.field.collection_field
  = render_field_label(form, field_name, field_label)
  = form.collection_select field_name, items, :id, item_label, {:include_blank => is_blanked}
  - if !@item.nil?
    - if @item.errors[field_name].count > 0
      .error
        = @item.errors[field_name].first