.field.file_field
  - if @item.avatar.file?
    .current_file.image
      = image_tag @item.avatar.url(:thumb)
      .icon.icon-delete
    = form.hidden_field field_name, :value => ""
  = render_field_label(form, field_name, field_label)
  = form.file_field field_name
  - if !@item.nil?
    - if @item.errors[field_name].count > 0
      .error
        = @item.errors[field_name].first