.field.text_field
  = render_field_label(form, field_name, field_label)
  = form.text_field field_name
  - if !@item.nil?
    - if @item.errors[field_name].count > 0
      .error
        = @item.errors[field_name].first