.field.wysiwyg_field
  = render_field_label(form, field_name, field_label)
  = tinymce
  = form.text_area field_name, class: "tinymce"
  - if !@item.nil?
    - if @item.errors[field_name].count > 0
      .error
        = @item.errors[field_nsame].first