ul.first_menu
  - if !items.nil?
    - items.each do |item_k, item_v|
      - if !(item_v.is_a?(Hash))
        li class=(request.fullpath == item_v ? 'active' : '')
          - if (request.fullpath == item_v)
            .plank
          .first_menu_item
            .icon
            = link_to item_k, item_v
      - else
        li
          .first_menu_item
            .icon
            = item_k
          ul.second_menu
            - item_v.each do |sub_item_k, sub_item_v|
              li class=(request.fullpath == sub_item_v ? 'active' : '')
                - if (request.fullpath == sub_item_v)
                  .plank
                .second_menu_item
                  .icon
                  = link_to sub_item_k, sub_item_v