- asc_param_value = "asc"
- desc_param_value = "desc"

table.table
  thead
    tr
      - labels.each do |key, value|
        - if value[:show_in_table] == true
          th
            - if params[:sort_field].to_s != key.to_s
              = link_to value[:label], request.parameters.merge({ :sort_field => key, :sort_value => nil })
            - else
              - if params[:sort_value].nil?
                - sort_value = desc_param_value
              - else
                - (params[:sort_value] == asc_param_value) ? sort_value = desc_param_value : sort_value = asc_param_value
              = link_to request.parameters.merge({ :sort_field => key, :sort_value => sort_value })
                = value[:label]
                - if (sort_value == asc_param_value)
                  .icon.icon-arrow-up
                - else
                  .icon.icon-arrow-down


      th
  tbody
    = render items