tr
  td
    = example_item.text_field
  td
    = example_item.text_area_field

  td
    = link_to t('dm_links.edit'), object_generator_d.edit_example_item_path(example_item)
    = link_to t('dm_links.delete'), example_item, method: :delete, data: { confirm: "#{t('dm_messages.removal_confirmation')}" }