= form_for @item do |f|

  = render_text_field(f, :text_field, "Текстовое поле")
  = render_password_field(f, :password_field, "Поле типа Пароль")
  = render_collection_field(f, :collection_field, "Поле типа Коллекция", @entity.all, :text_field, true)
  = render_wysiwyg_field(f, :text_area_field, "Textarea поле")
  = render_file_field(f, :avatar, "File поле")

  = f.submit t('dm_links.save')