html
  head
    title
      | ObjectGeneratorD
    = stylesheet_link_tag    "object_generator_d/application", media: "all"
    = javascript_include_tag "object_generator_d/application"
    = csrf_meta_tags
  body
    = yield
    = debug(params)